@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.nc-header-bg {
  @apply bg-white/70 dark:bg-neutral-900/60 backdrop-blur-2xl backdrop-filter;
}

.dark {
  @apply bg-d-background;
}

.containerForDivider {
  @apply px-28 relative space-y-24 lg:space-y-14 w-full py-32;
}

img {
  position: relative !important;
}

.scrollTotopbutton {
  @apply fixed bottom-0 right-0 m-5 rounded-full border border-d-background dark:border-background text-2xl text-d-background dark:text-background;
  width: 50px;
  height: 50px;
  /* transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -webkit-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out; */
}
.scrollTotopbutton:hover {
  @apply border-background dark:border-d-background bg-d-background dark:bg-background text-background dark:text-d-background;
  ;
  /* transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -webkit-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out; */
}

.backgroundButton:hover {
  @apply bg-neutral-100 dark:bg-neutral-800;
}

.d-backgroundButton:hover {
  @apply bg-neutral-600 dark:bg-neutral-300;
}

.gradient-image {
  width: 100%;
  height: 100%;
  --gradient-image-url-dark:url(https://images.ctfassets.net/e5382hct74si/5RJZ0Nk5TjMNANRbNT45QD/fd02cfb50f118b444e7f2f7a4fcafe7e/KV-Dark-Bitmotif.svg);
  --gradient-image-url-light:url(https://images.ctfassets.net/e5382hct74si/7vW9pH8OApAhL1vW1Z1FrO/b640d41d2b27b21bd0da41738918a88e/KV-Light-Bitmotif.svg);

  /* position: absolute; */
  inset: 0;
  background-image: var(--gradient-image-url);
  background-repeat: repeat-x;
  background-position: top;

  --gradient-image-height-dark: 356px;
  --gradient-image-height-light: 356px;
  --gradient-image-width-dark: 1595px;
  --gradient-image-width-light: 1595px;

}

.gradient-image-dark {
  --grid-background-color-dark: #251111;
  --grid-background-color: var(--grid-background-color-dark);
  --gradient-image-url: var(--gradient-image-url-dark);
}

.gradient-image-light {
  --grid-background-color-light: #FFF5F1;
  --grid-background-color: var(--grid-background-color-light);
  --gradient-image-url: var(--gradient-image-url-light);
}

.mainPage {
  background-image: url("/Images/luxe-taxi-amstelveen.jpeg");
  background-size: cover;
}

.firstSection {
  background-color: rgba(209,213,219,0.6);
}

.container1 {
  @apply px-6 md:px-32 items-center w-full;
}