@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.Hero-bgImage {
  position: absolute !important;
}

img {
  position: relative !important;
}

.container {
  max-width: 1536px;
  padding-right: 128px;
  padding-left: 128px;

  width: 100%;
}
.nc-Header {
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  --tw-backdrop-blur: blur(40px);
}

.container1 {
  @apply px-28 relative space-y-24 lg:space-y-14 pb-24 lg:pb-14 pt-14;
}

.containerForDivider {
  @apply px-28 relative space-y-24 lg:space-y-14;
}

.carimageContainer {
  min-width: 100px;
  min-height: 100px;

  max-width: 200px;
  max-height: 200px;
}